@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --Amarillo-colorPrincipal: #FDCD01;
    --Amarillo-colorButton: #FFDA3E;
    --Verde-colorButton: #45DF0F;
    --Verde-colorSecundario: #32A30A;
    --verde-colorFeed: #CBF0BE;

}
@media screen and (max-width: 600px) {


   
    .homeDivFeed{
        height: 100vh;
        width: 100vh;
        background-color: var(--verde-colorFeed);
        overflow: hidden;
    }
    .feedMain{
       
        height: 80vh;
        width: 100vh;
     
    }
    .logoFoodgramFeed{
      
        margin: 2rem;
        width: 70vw;
        background: none;
    
    }

    header{
        position: fixed;
    }

   .feedHeader{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    }

    
    .Cerrar_Sesion{
        margin: 1rem;
        margin-left: 28rem;
        margin-top: 2rem;
        width: 42vw;
        font-size: large;
        background:none ;
        border: none;
       
    }

    .Cerrar_Sesion:hover{ 
        border-bottom: 1px solid var(--Verde-colorSecundario);
    }
    .mensajeFeed{
        width: 25rem;
        height: 4rem;
        padding: 15px;
        margin-left: 13rem;
        padding-left: 1rem;
        background-color: white;
        font-size: large;
        border-radius: 10px;
        font-weight: bolder;
        font-family: 'Jura', sans-serif;
  
    }
}

