@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --Amarillo-colorPrincipal: #FDCD01;
    --Amarillo-colorButton: #FFDA3E;
    --Verde-colorButton: #45DF0F;
    --Verde-colorSecundario: #32A30A;

}


input:focus{
    border: 4px solid var(--Verde-colorSecundario);
}

/* Mobile  */
@media screen and (max-width: 599px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Junge', serif;


    }

    .homepage {
        background-image: url(../assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    .homepage2 {
        background-image: url(../assets/img/imagedestock.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    /* main{
        background-image: url(assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;

        
    } */
    .imageDiv {

        display: none;

    }

    .imageDivRegister {

        display: none;

    }

    .logoFoodgram {
        margin: 2rem;
        width: 55vw;
        background: var(--Amarillo-colorPrincipal);
    }

    .h1_home {
        font-family: 'Jura', sans-serif;
        margin-bottom: 1rem;
        margin-left: 4.5rem;
        border-bottom: 2px solid rgb(0, 0, 0);
        width: 55%;
    }

    .formDiv {
        position: fixed;
        top: 40%;
        left: 0%;
        z-index: 99;
        border-radius: 25rem;
        width: 100vw;
        height: 100vh;
        background: var(--Amarillo-colorPrincipal);
        padding-top: 6rem;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);


    }

    .h2_home {
        display: none;
    }

    /* position: sticky; */
    /* position: fixed; */
    .input_Login {
        height: 10%;
        width: 80%;
        border: 1px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight:bold;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 1.7rem;
        /* align-content: center; */
    }

    .inputLogin {
        height: 5%;
        width: 80%;
        border: 1px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 1.7rem;
        /* align-content: center; */
    }


    .btn {
        height: 5%;
        width: 60%;
        border: 10px;
        margin: 0.5rem;
        font-size: small;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 4.9rem;
    }

    .login {
        background: var(--Amarillo-colorPrincipal);
        /* border-bottom: 2px solid rgb(10, 10, 10); */
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);

    }
     
    .login:hover{
        background-color: var(--Amarillo-colorButton);
    }
    .register {
        background-color: var(--Amarillo-colorButton);

    }
    .register:hover{
        background-color: var(--Amarillo-colorPrincipal);
    }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: var(--Amarillo-colorPrincipal);
    }

    .formDiv .group_button .loginGoogle {
        background-color: var(--Verde-colorButton);
        outline: none;
    }

    .formDiv .group_button  .svg-inline--fa {
        position: absolute;
        margin-left: 6.1rem;
        top: 2.4%;
        background-color: var(--Verde-colorButton);
        /* font-size: 1.5em; */

    }

    .formDiv .group_button .svg-inline--fa:hover{
       background-color: var(--Verde-colorSecundario);
       
    }



    .btn_register {
        padding: 7px;
        width: 60%;
        border: 10px;
        margin: 0rem;
        margin-top: 1rem;
        font-size: small;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 4.9rem;
        background: var(--Amarillo-colorPrincipal);
        /* border-bottom: 2px solid rgb(10, 10, 10); */
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);


    }

    .btn_register:hover{
    background-color: var(--Amarillo-colorButton);

    }

    .btn_home {
        padding: 7px;
        width: 60%;
        border: 10px;
        margin: 0.5rem;
        font-size: small;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 4.9rem;
        background-color: var(--Amarillo-colorButton);
             

    }
     
    .btn_home:hover{
        background-color: var(--Amarillo-colorPrincipal);
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
    } 

}

/* Tablet */
@media screen and (max-width: 913px) and (min-width: 600px) {
    * {
        margin: 0;

        /* background-color: white; */
    }

    /* main{
        background-image: url(/assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;

        
    } */
    .homepage {
        background-image: url(../assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .homepage2 {
        background-image: url(../assets/img/imagedestock.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .imageDiv {

        display: none;

    }

    .imageDivRegister {

        display: none;

    }

    .logoFoodgram {
        margin: 2rem;
        width: 55vw;
        background: var(--Amarillo-colorPrincipal);
    }

    .h1_home {
        font-family: 'Jura', sans-serif;
        margin-bottom: 1rem;
        margin-left: 6.5rem;
        border-bottom: 2px solid rgb(0, 0, 0);
        width: 55%;
    }


    .formDiv {
        position: fixed;
        top: 40%;
        left: 1%;
        z-index: 99;
        border-radius: 30rem;
        width: 100vw;
        height: 100vh;
        background: var(--Amarillo-colorPrincipal);
        padding-top: 10rem;
        padding-left: 2rem;


    }

    .formRegister {
        height: 25vh;
    }

    /* .formRegister{
        position: fixed;
        top: 40%; left: 1%;
        z-index:99;
        border-radius:30rem;
        width: 100vw;
        height: 50vh;
        background: #FDCD01;
        padding-top: 10rem;
        padding-left:2rem ;

        
    } */

    .h2_home {
        display: none;
    }

    /* position: sticky; */
    /* position: fixed; */

    .input_Login {
        height: 20%;
        width: 72%;
        border: 10px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        font-size: large;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 4rem;
        height: 19%;
    }

    .inputLogin {
        height: 5%;
        width: 72%;
        border: 10px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        font-size: large;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 4rem;
        /* align-content: center; */
    }

    .btn {
        height: 5%;
        width: 50%;
        border: 10px;
        margin: 0.5rem;
        font-size: small;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 10rem;
    }

    .btn_register {
        padding: 0.9rem;
        height: 20%;
        width: 50%;
        border: 10px;
        margin: 0.5rem;
        font-size: large;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 10rem;
        background-color: var(--Amarillo-colorPrincipal);
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
    }
    
 

    .btn_home {
        height: 20%;
        width: 50%;
        border: 10px;
        margin: 0.5rem;
        font-size: small;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 10rem;
        /* margin-top: 0.9rem; */
        font-size: large;
        background-color: var(--Amarillo-colorButton);
        
    }

    .login {
        background: var(--Amarillo-colorPrincipal);
        /* border-bottom: 2px solid rgb(10, 10, 10); */
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
        font-size: large;

    }
    .login:hover{
        background-color: var(--Amarillo-colorButton);
    }
  
    
    .register {
        background-color: var(--Amarillo-colorButton);
        font-size: large;

    }

    .register:hover{
        background-color: var(--Amarillo-colorPrincipal);
    }

    .btn_register:hover{
        background-color: var(--Amarillo-colorButton);
    
        }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: var(--Amarillo-colorPrincipal);
    }

    .formDiv .group_button .loginGoogle {
        background-color: var(--Verde-colorButton);
        outline: none;
        font-size: large;
    }

    .formDiv .group_button  .svg-inline--fa {
        position: absolute;
        margin-left: 14.5rem;
        top: 2.7%;
        background-color: var(--Verde-colorButton);
        /* font-size: 1.5em; */
    }
    .formDiv .group_button .loginGoogle:hover{
        background-color: var(--Verde-colorSecundario);
        
     }

   


    

}
   /* Destock  */
@media screen and (min-width: 914px) {
    * {
        background-color: white;
        margin: 0;
        padding: 0;
    }


    /* main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
         width: 100vw;
        height: 130vh;
        background-color: white;
        overflow: hidden;
        
    } */
    .homepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        width: 100vw;
        height: 130vh;
        background-color: white;
        overflow: hidden;
    }

    .homepage2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        width: 100vw;
        height: 130vh;
        background-color: white;
        overflow: hidden;
    }

    .logoFoodgram {
        display: none;
    }

    .imageDiv {

        background-image: url(../assets/img/imagenmobile.jpg);
        background-size: cover;
        grid-column: 1 / 2;
        grid-row: 1;

    }

    .imageDivRegister {

        background-image: url(../assets/img/imagedestock.jpg);
        background-size: cover;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .h1_home {
        font-family: 'Jura', sans-serif;
        margin-bottom: 3rem;
        margin-top: 5rem;
        margin-left: 6.5rem;
        border-bottom: 2px solid rgb(0, 0, 0);
        
    }

    .formDiv {
        padding-top: 3rem;
        z-index: 1;
        grid-column: 2 / 2;
        grid-row: 1;


    }

    .h2_home {
        color: var(--Verde-colorSecundario);
        font-family: 'Josefin Sans', sans-serif;
        font-style: italic;
        margin: 2rem;
    }

    .input_Login {
        height: 5%;
        width: 80%;
        border: 10px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: normal;
        font-size: x-large;
        padding-left: 1rem;
        padding: 1rem;
        border-radius: 20px;
        margin-left: 1.7rem;
        /* align-content: center; */
            
    }

    .inputLogin {
        height: 5%;
        width: 80%;
        border: 10px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: normal;
        font-size: x-large;
        padding-left: 1rem;
        padding: 0.4rem;
        border-radius: 20px;
        margin-left: 1.7rem;
    }

    .btn_register {
        height: 5%;
        width: 80%;
        border: 10px;
        margin: 0.5rem;
        font-size: large;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 4.1rem;
        padding: 1rem;
    }

    
    .login:hover{
        background-color: var(--Amarillo-colorButton);
    }
    
    .register:hover{
        background-color: var(--Amarillo-colorPrincipal);
    }

    .btn_register:hover{
        background-color: var(--Amarillo-colorButton);
    
        }

    .btn_home {
        /* margin-top: 0.9rem; */
        font-size: large;
    }

    .btn {
        height: 5%;
        width: 80%;
        border: 10px;
        margin: 0.5rem;
        font-size: large;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 2.1rem;
    }

    .btn_home {
        height: 5%;
        width: 80%;
        border: 10px;
        margin: 0.5rem;
        font-size: large;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 4.1rem;
        padding: 1rem;
    }
    .btn_home:hover{
        background-color: var(--Verde-colorSecundario);
    
        }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;

    }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .formDiv .group_button .loginGoogle {
        background-color: var(--Verde-colorButton);
        outline: none;
    }

    .formDiv .group_button  .svg-inline--fa {
        position: absolute;
        margin-left: 10rem;
        top: 2.4%;
        background-color: var(--Verde-colorButton);


    }

    .formDiv .group_button .loginGoogle:hover{
        background-color: var(--Verde-colorSecundario);
        
     }

     
}