@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --Amarillo-colorPrincipal: #FDCD01;
    --Amarillo-colorButton: #FFDA3E;
    --Verde-colorButton: #45DF0F;
    --Verde-colorSecundario: #32A30A;
    --letra-junge:  'Junge', serif;
    --letra-jura: 'Jura', sans-serif;
    --letra-logo:'Alfa Slab One', cursive;
    --Verde-claro-button: lightgreen;
   
}


input:focus{
    border: 2px solid var(black);
}
body{
    font-size: 100%;;
}
/* Mobile  */
@media screen and (max-width: 599px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Junge', serif;


    }

    .homepage {
        background-image: url(../assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    .homepage2 {
        background-image: url(../assets/img/imagedestock.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    /* main{
        background-image: url(assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;

        
    } */
    .imageDiv {

        display: none;

    }

    .imageDivRegister {

        display: none;

    }

    .logoFoodgram {
        font-family: var(--letra-logo);
        margin: 0;
        padding: 1% 0 0 2%;
        font-size: 1.em;
        width: 55vw;
        background: var(--Amarillo-colorPrincipal);
    }

    .h1_home {
        font-family: 'Jura', sans-serif;
        margin-bottom: 1rem;
        margin-left: 4.5rem;
        border-bottom: 2px solid rgb(0, 0, 0);
        width: 55%;
    }

    .formDiv {
        position: fixed;
        top: 40%;
        left: 0%;
        z-index: 99;
        border-radius: 25rem;
        width: 100vw;
        height: 100vh;
        background: var(--Amarillo-colorPrincipal);
        padding-top: 6rem;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);


    }

    .h2_home {
        display: none;
    }

    /* position: sticky; */
    /* position: fixed; */
    .formRegister .input_Login {
        height: 10%;
        width: 80%;
        border: 1px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight:bold;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 1.7rem;
        /* align-content: center; */
    }

    .inputLogin {
        height: 5%;
        width: 80%;
        border: 1px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 1.7rem;
        /* align-content: center; */
    }


    .formDiv .btn {
        height: 5%;
        width: 60%;
        border: 10px;
        margin: 0.5rem;
        font-size: 0.9em;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 4.9rem;
    }

    .login {
        background: var(--Amarillo-colorPrincipal);
        /* border-bottom: 2px solid rgb(10, 10, 10); */
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);

    }
     
    .login:hover{
        background-color: var(--Amarillo-colorButton);
    }
    .register {
        background-color: var(--Amarillo-colorButton);

    }
    .register:hover{
        background-color: var(--Amarillo-colorPrincipal);
    }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: var(--Amarillo-colorPrincipal);
    }

    .formDiv .group_button .loginGoogle {
        background-color: var(--Verde-colorButton);
        outline: none;
    }

    .formDiv .group_button  .svg-inline--fa {
        position: absolute;
        margin-left: 6.1rem;
        top: 2.4%;
        background-color: var(--Verde-colorButton);
        /* font-size: 1.5em; */

    }

    .formDiv .group_button .svg-inline--fa:hover{
       background-color: var(--Verde-colorSecundario);
       
    }

    .btn {
    padding: 7px;
    width: 60%;
    border: 10px;
    margin: 0rem;
    margin-top: 1rem;
    font-size: 1em;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    margin-left: 4.9rem;
}

    .formRegister .btn_register {
        background: var(--Amarillo-colorPrincipal);
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);

    }

    .formRegister .btn_register:hover{
    background-color: var(--Amarillo-colorButton);

    }

    .formRegister .btn_home {
        
        background-color: var(--Amarillo-colorButton);
             

    }
     
    .btn_home:hover{
        background-color: var(--Amarillo-colorPrincipal);
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
    } 
.labelRegister{
    display: none;
}
}

/* Tablet */
@media screen and (max-width: 913px) and (min-width: 600px) {
    * {
        margin: 0;

    }

   
    .homepage {
        background-image: url(../assets/img/imagenmobile.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .homepage2 {
        background-image: url(../assets/img/imagedestock.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .imageDiv {

        display: none;

    }

    .imageDivRegister {

        display: none;

    }

    .logoFoodgram {
        font-family: var(--letra-logo);
        padding: 3% 0 0 3%;
        font-size: 2.5em;
        width: 55vw;
        background: var(--Amarillo-colorPrincipal);
    }

    .h1_home {
        font-family: 'Jura', sans-serif;
        margin-bottom: 1rem;
        margin-left: 6.5rem;
        border-bottom: 2px solid rgb(0, 0, 0);
        width: 55%;
    }


    .formDiv {
        position: fixed;
        top: 40%;
        left: 0%;
        z-index: 99;
        border-radius: 29rem;
        width: 100vw;
        height: 100vh;
        background: var(--Amarillo-colorPrincipal);
        padding-top: 10rem;
        padding-left: 2rem;


    }

    .formRegister {
        margin-top: 2%;
        height: 25vh;
    }

 
    .h2_home {
        display: none;
    }


    .formRegister .input_Login {
        height: 20%;
        width: 72%;
        border: 10px;
        margin-bottom: 0.5rem;
        border: 1px solid black;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        font-size: 2em;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 4rem;
        height: 19%;
    }
     
    .inputLogin {
        height: 5%;
        width: 70%;
        border: 10px;
        margin-bottom: 0.5rem;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        font-size: 2em;
        padding-left: 1rem;
        border-radius: 5px;
        margin-left: 4rem;
        /* align-content: center; */
    }

    .formDiv .btn {
        height: 20%;
        width: 50%;
        border: 10px;
        margin: 0.5rem;
        font-size: 1.5em;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 10rem;
    }

    .formRegister .btn_register {
        padding: 0.9rem;
        background-color: var(--Amarillo-colorPrincipal);
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
    }
    
 

    .formRegister .btn_home {
    
        background-color: var(--Amarillo-colorButton);
        
    }

    .login {
        background: var(--Amarillo-colorPrincipal);
        /* border-bottom: 2px solid rgb(10, 10, 10); */
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
       

    }
    .login:hover{
        background-color: var(--Amarillo-colorButton);
    }
  
    
    .register {
        background-color: var(--Amarillo-colorButton);
    

    }

    .register:hover{
        background-color: var(--Amarillo-colorPrincipal);
    }

    .btn_register:hover{
        background-color: var(--Amarillo-colorButton);
    
        }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: var(--Amarillo-colorPrincipal);
    }

    .formDiv .group_button .loginGoogle {
        background-color: var(--Verde-colorButton);
        outline: none;
        font-size: 1.2em;
        
    }

    .formDiv .group_button  .svg-inline--fa {
        position: absolute;
        margin-left: 14.5rem;
        top: 2.7%;
        background-color: var(--Verde-colorButton);
        /* font-size: 1.5em; */
    }
    .formDiv .group_button .loginGoogle:hover{
        background-color: var(--Verde-colorSecundario);
        
     }

     .labelRegister{
        display: none;
    }


}
   /* Destock  */
@media screen and (min-width: 914px) {
    * {
        background-color: white;
        margin: 0;
        padding: 0;
    }

    

    /* main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
         width: 100vw;
        height: 130vh;
        background-color: white;
        overflow: hidden;
        
    } */
    .homepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        width: 100vw;
        height: 130vh;
        background-color: white;
        overflow: hidden;
    }

    .homepage2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        width: 100vw;
        height: 130vh;
        background-color: white;
        overflow: hidden;
    }
   
    .logoFoodgram {
        display: none;
    }

    .imageDiv {

        background-image: url(../assets/img/imagenmobile.jpg);
        background-size: cover;
        grid-column: 1 / 2;
        grid-row: 1;

    }

    .imageDivRegister {

        background-image: url(../assets/img/imagedestock.jpg);
        background-size: cover;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .h1_home {
        font-family: 'Jura', sans-serif;
        
        margin-top: 1rem;
        margin-left: 4.5rem;
        border-bottom: 2px solid rgb(0, 0, 0);
        width: 60%;
        height: 4%;;
        
    }
    /* .h1_home::before{
        content: "";
        width: 50%;;
        margin-bottom: 3rem;
    } */
    .formDiv {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;
        z-index: 1;
        grid-column: 2 / 2;
        grid-row: 1;


    }
    .formRegister{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: var(--letra-jura);
    }
    .formRegister .labelRegister{
        width: 100%;;
        height: 2%;
       margin: 0.5% 0.5% 2% 5%;
       font-weight: 850;
      
      
    }


    .h2_home {
        color: var(--Verde-colorSecundario);
        font-family: 'Josefin Sans', sans-serif;
        font-style: italic;
        margin: 2rem;
    }
    .formDiv .formRegister{
       height: 87%;
    }
    .formRegister .input_Login {
        height: 4%;
        width: 80%;
        border: 1px solid black;
          margin-bottom: 10px;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: normal;
        font-size: 1em;
        padding-left: 1rem;
        padding: 2% 2% 2% 2%;
        border-radius: 2px;
        margin-left: 1.7rem;
        /* align-content: center; */
            
    }
 
   .formDiv .inputLogin {
        height: 3%;
        width: 80%;
        border: 5px;
        margin-bottom: 10px;
        border: 1px solid black;
        /* margin: 0.5rem; */
        font-family: 'Jura', sans-serif;
        font-weight: normal;
        font-size: 1em;
        padding: 2%;
        border-radius: 2px;
        margin-left: 1.7rem;
     
    }
    .homepage2  .formRegister .btn {
        height: 5%;
        width: 50%;
        border: 10px;
        margin: 0.5rem;
        font-size: 1em;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 19%;
        padding: 1rem;
        color: black;
    }
   
  
    .homepage2  .formDiv .btn_register{
        background-color: var(--Amarillo-colorPrincipal);
    }
    .homepage2 .formRegister .btn_home {
        background-color: lightgreen;
        
    }
    .btn_home:hover{
        background-color: var(--Verde-colorSecundario);
    
        }
    
    .login:hover{
        background-color: var(--Amarillo-colorButton);
    }
    
    .register:hover{
        background-color: var(--Amarillo-colorPrincipal);
    }

    .btn_register:hover{
        background-color: var(--Amarillo-colorButton);
    
        }

    

    .formDiv .btn {
        height: 5%;
        width: 50%;
        border: 10px;
        margin: 0.5rem;
        font-size: 1.1em;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        margin-left: 20%;
    }
    .formDiv .register {
        background: lightgreen;
      }
    .formDiv  .login {
        background: var(--Amarillo-colorPrincipal);
        /* border-bottom: 2px solid rgb(10, 10, 10); */
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
       

    }
   
  

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;

    }

    .formDiv .group_button {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .formDiv .group_button .loginGoogle {
        color: var(--Verde-colorSecundario);
        border: 1px solid var(--Verde-colorSecundario);
        outline: none;
    }

    .formDiv .group_button  .svg-inline--fa {
        position: absolute;
        margin-left: 25%;
        top: 2.7%;
        background-color: white;


    }

    .formDiv .group_button .loginGoogle:hover{
        background-color: white;
        
     }

     
}