

@media  screen and (max-width: 576px) {
    *{
        margin:0;
        padding: 0;
        font-family: 'Junge', serif;
        
    }
    #homepage{
        background-image: url(img/imagenTablet.jpg);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;

        
    }
    .imageDiv{
       
      display: none;

    }
    
    .formDiv{
        position: fixed;
        top: 50%; left: 1%;
        z-index:99;
        border-radius:52rem;
        width: 100vw;
        height: 100vh;
        /* margin-top:90%; */
        /* z-index: 5; */
        background: #FDCD01;
        padding-top: 6rem;

        
    }

    /* position: sticky; */
    /* position: fixed; */
    .btn{
        height: 5%;
        width: 80%;
        border: 10px;
        margin: 0.5rem;
        font-size: small;
        font-family: 'Jura', sans-serif;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
    }
    .login{
        background-color: #FFDA3E
        
    }
    .register{
        background-color: #45DF0F;
    }
}

@media  screen and (min-width: 577px) {
    *{
        margin:0;
        background-color: white;
    }
    
    }

@media  screen and (min-width: 900px) {
    *{
        background-color: white;
    }
}